@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.project-banner {
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  h2 {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.project-quote {
  padding: 20px;
}

@include media-breakpoint-down(xs) {
  .project-banner h2 {
    position: initial;
  }
}
