@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.form-section {
  border: 1px solid #aaa;
}

@include media-breakpoint-up(md) {
  .contact-section {
    flex-basis: 50%;
    margin: 0 1rem;
  }
}

@include media-breakpoint-down(sm) {
  .contact-section {
    margin: 1rem 1rem;
  }

  .marketing-section > * {
    margin: 1rem 0;
  }
}

@include media-breakpoint-down(xs) {
  .recaptcha-container {
    transform: scale(0.77);
  }
}
