@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

img {
  max-width: 100%;
}

html {
  font-size: 14px;
}

@include media-breakpoint-up(md) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-down(sm) {
  .navbar-spacing {
    padding-top: 3.5rem;
  }
}
