@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@include media-breakpoint-up(sm) {
  .process-description-long {
    flex-basis: 50%;
    margin-left: 1rem;
  }

  .carousel {
    flex-basis: 50%;
    margin-right: 1rem;
  }
}

@include media-breakpoint-down(xs) {
  .process-content > * {
    margin: 1rem 0;
  }
}
