@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.project-banner {
    height: 22vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
}

.project-quote {
    padding: 20px;
}

@include media-breakpoint-down(xs) {
    .project-banner {
        display: flex;
        justify-content: center;
        align-items: center;
    }        
}